/* .container {
  width: 600px;
  margin: 0 auto;
  height: 100vh;
} */

.container {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.off {
  display: none;
}

@media screen and (min-width: 1000px) {
  .column-half {
    width: 20%;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
  }

  header {
    text-align: left;
    padding-left: 3rem;
  }

  h3 {
    font-size: 0.7rem;
    bottom: 1.5rem;
  }

  p {
    font-size: 1rem;
    max-height: 220px;
  }
}
