* {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1f2a92;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
}

h1 {
  font-family: 'Oxygen Mono', monospace;
  margin: 0;
  font-size: 3rem;
}

img {
  border-radius: 1.3rem;
  width: 90%;
  margin: 1rem;
  filter: brightness(70%);
  box-shadow: 6px 3px 3px black;
}

img:hover {
  filter: brightness(25%);
}

img:active {
  position: relative;
  top: 5px;
}

.card {
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/background.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 6rem;
}

h2 {
  position: absolute;
  bottom: 1rem;
  left: 2.5rem;
  color: white;
  font-size: 1.7rem;
  z-index: 1;
  text-shadow: 3px 3px black;
}
