* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #1f2a92;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 3;
}

h1 {
  /* font-family: 'Oxygen Mono', monospace; */
  margin: 0;
  font-size: 3rem;
  display: inline-block;
}

img {
  border-radius: 1.3rem;
  width: 90%;
  margin: 0.4rem;
  filter: brightness(70%);
  box-shadow: 6px 3px 3px black;
}

img:hover {
  filter: brightness(25%);
}

.card {
  margin-top: 1rem;
  position: relative;
  transition: transform 400ms;
  min-width: 150px;
  justify-content: center;
}

.card:active {
  position: relative;
  top: 5px;
}

.card:hover {
  transform: scale(110%);
  z-index: 2;
}

.dark {
  filter: brightness(25%);
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  position: absolute;
  bottom: 2rem;
  left: 1.8rem;
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  text-shadow: 3px 3px black;
}

h3 {
  position: absolute;
  bottom: 1rem;
  left: 1.8rem;
  color: white;
  font-size: 1rem;
  z-index: 1;
}

p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  padding: 0 1rem;
  text-align: left;
  overflow-y: scroll;
  max-height: 360px;
  animation: fadein 2s;
  display: none;
}

.loreShown {
  display: block;
}

p::-webkit-scrollbar {
  width: 2px;
}

p::-webkit-scrollbar-track {
  background: none;
}

p::-webkit-scrollbar-thumb {
  background: white;
  height: 5px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

main {
  padding: 7.5rem;
}

.yellow {
  color: rgb(247, 163, 80);
}

.roles {
  text-align: center;
}

button {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin: 0.3rem 0.2rem 0;
  padding: 0.5rem 1.6rem;
  border: 1px black solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(247, 163, 80);
  transform: scale(1.08);
  transition: transform 200ms;
}

button:active {
  position: relative;
  top: 2px;
}

.selected {
  color: rgb(247, 163, 80);
}
