* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #1f2a92;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
  display: inline-block;
}

img {
  border-radius: 1.3rem;
  width: 90%;
  margin-left: 0.7rem;
  filter: brightness(70%);
  box-shadow: 6px 3px 3px black;
  transition: filter 200ms;
}

img:hover {
  filter: brightness(25%);
}

.card {
  transition: transform 400ms;
  margin-top: 1rem;
  position: relative;
  min-width: 150px;
  justify-content: center;
}

.card:active {
  position: relative;
  top: 5px;
}

.card:hover {
  /* transform: scale(110%); */
  z-index: 2;
  cursor: pointer;
}

.dark {
  filter: brightness(25%);
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  position: absolute;
  bottom: 1.6rem;
  left: 1.4rem;
  color: white;
  font-size: 3.2vw;
  z-index: 1;
  text-shadow: 3px 3px black;
}

h3 {
  position: absolute;
  bottom: 1rem;
  left: 1.4rem;
  color: white;
  font-size: 1.55vw;
  z-index: 1;
}

p {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: white;
  font-size: 1.9vw;
  z-index: 1;
  padding: 0 1rem;
  text-align: left;
  animation: fadein 2s;
  overflow-y: scroll;
  margin-right: 5px;
}

.loreShown {
  display: block;
}

p::-webkit-scrollbar {
  width: 2px;
}

p::-webkit-scrollbar-track {
  background: none;
}

p::-webkit-scrollbar-thumb {
  background: white;
  height: 5px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

main {
  padding: 7.5rem;
}

.yellow {
  color: rgb(247, 163, 80);
}

.roles {
  text-align: center;
}

button {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin: 0.3rem 0.2rem 0;
  padding: 0.5rem 1.6rem;
  border: 1px black solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(247, 163, 80);
  transform: scale(1.08);
  transition: transform 200ms;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 2px;
}

.selected {
  color: rgb(247, 163, 80);
}

input {
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  border: 2px solid black;
  outline-color: rgb(247, 163, 80);
  font-size: 1rem;
  width: 270px;
}

.fa-search {
  position: relative;
  right: 1.6rem;
  color: black;
}

.fa-caret-square-up {
  font-size: 4rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: rgba(250, 250, 250, 0.5);
}

.fa-caret-square-up:hover {
  color: rgba(250, 250, 250, 0.7);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

header > div > a {
  color: white;
  text-decoration: none;
}

.fa-angle-right {
  position: absolute;
  top: 30%;
  right: 2vw;
  color: rgba(230, 230, 230, 0.7);
  z-index: 10;
  font-size: 1.6rem;
  display: none;
  animation: fadein 2s;
  padding: 4rem 0 4rem 1rem;
}

.fa-angle-right:hover {
  color: rgba(160, 160, 160, 0.7);
}

.ability-icons {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 0;
  flex-direction: row;
  justify-content: center;
}

.ability-icons img {
  width: 20%;
  margin: 0;
}

span {
  position: absolute;
  color: white;
  transform: rotateY(180deg);
  display: block;
}

span > p {
  top: 3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ability-name {
  top: 5vw;
  left: 5px;
}

.ability-description {
  top: 8vw;
  margin-left: 0.6em;
}
